
<div fxLayout="row wrap" fxLayoutGap="20px">
    <ul *ngFor="let b of notification">
        
    
        <mat-card style="width: 800px; background-size: cover; margin-top: 20px;" >
            
            <h6>{{b.description}}</h6>
            <mat-card-subtitle> {{b.time}}</mat-card-subtitle>
            <mat-card-subtitle> {{b.relatedPackId}}</mat-card-subtitle>
            <mat-card-subtitle> {{b.senderEmail}}</mat-card-subtitle>


            <span class="example-fill-remaining-space"></span>
          <button  mat-button style="border: 1px solid blue;" *ngIf="!b.read && userType=='TRAVELAGENT'" (click)="sendNotification(b.id,b.relatedPackId)">Notify Quide</button>
            
          </mat-card>
          
        
    
    
    </ul>
    </div>