<app-navigation [currentUser]="currentUser" [userType]="userType"></app-navigation>
<div fxLayout="column" fxLayoutGap="20px ">
<ul *ngFor="let b of packList">
    

    <mat-card style="min-width: 0px; max-height: 3300px; background-size: cover;" fxLayout="row" fxLayoutGap="50px "  >
        <div>
        <mat-card-title >{{b.name}}</mat-card-title>
        <mat-card-subtitle>District : {{b.district}}</mat-card-subtitle>
        <img mat-card-image style="max-width: 300px;" [src]="b.imageUrl">
    </div>
        <div>
        <mat-card-content>
        <h3>Places To Visit</h3>
        <mat-chip-list    >
            <mat-chip *ngFor="let c of b.placesToVisit" color="primary" selected>{{c}}</mat-chip>
        </mat-chip-list>

        <h3>Hotels Available</h3>
        <mat-chip-list    >
            <mat-chip *ngFor="let c of b.hotelsAvailable" color="primary"   selected>{{c}}</mat-chip>
        </mat-chip-list>

        <h3>Transportation</h3>
        <mat-chip  color="primary"   selected>{{b.transportationMethod}}</mat-chip>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary"  *ngIf="currentUser" [disabled]="clicked" (click)="registerPackage(b.id)">Register</button>
    </mat-card-actions>
    
</div>

        
        
        
        
      </mat-card>
    


</ul>
</div>
