.example-box {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-chip  {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
div{
    justify-content: center;
}
  