<app-navigation [currentUser]="currentUser" [userType]="userType"></app-navigation>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="TravelAgents" >
        <div fxLayout="row wrap" fxLayoutGap="20px">
            <ul *ngFor="let b of agentList">
                
            
                <mat-card style="max-width: 300px; background-size: cover;" >
                    
                    <mat-card-title >{{b.name}}</mat-card-title>
                    <mat-card-subtitle>email : {{b.email}}</mat-card-subtitle>
                    <h4>MobileNo : {{b.mobileNo}}</h4>
                    
                  </mat-card>
                
            
            
            </ul>
            </div>





    </mat-tab>
    <mat-tab label="Quides">Content 2</mat-tab>
    <mat-tab label="RegisteredPackage">Content 3</mat-tab>
</mat-tab-group>
