<div fxLayout="row wrap" fxLayoutGap="20px " >
  <mat-card style="width: 300px; background-size: cover; border: 1px solid blue; ">
    <mat-card-title>Register Package </mat-card-title>
<mat-card-content>
<form [formGroup]="registerNewPackageForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-error *ngIf="registerNewPackageForm.controls['name'].errors?.required && registerNewPackageForm.controls['name'].touched"> 
      You must fill this field 
    </mat-error>
  </p>
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="placesToVisit" formControlName="placesToVisit">
      
    </mat-form-field>
    <button  mat-button  (click)="addPlaceArray()" ><span class="material-icons">
      add_circle
      </span></button>
    <mat-chip-list    >
        <mat-chip *ngFor="let c of placesToVisitArray" color="primary"   selected>{{c}}</mat-chip>
    </mat-chip-list>
  </p>
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="District" formControlName="district">
    </mat-form-field>
    <mat-error *ngIf="registerNewPackageForm.controls['district'].errors?.required && registerNewPackageForm.controls['district'].touched"> 
      You must fill this field 
    </mat-error>
  </p>
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="ProviderEmail" formControlName="providerEmail">
    </mat-form-field>
    <mat-error *ngIf="registerNewPackageForm.controls['providerEmail'].errors?.required && registerNewPackageForm.controls['providerEmail'].touched"> 
      You must fill this field 
    </mat-error>
  </p>
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Hotels Available" formControlName="hotelsAvailable">
      
    </mat-form-field>
    <button  mat-button  (click)="addHotelArray()" ><span class="material-icons">
      add_circle
      </span></button>
    <mat-chip-list    >
        <mat-chip *ngFor="let c of hotelsAvailableArray" color="primary"   selected>{{c}}</mat-chip>
    </mat-chip-list>
    <mat-error *ngIf="registerNewPackageForm.controls['hotelsAvailable'].errors?.required && registerNewPackageForm.controls['hotelsAvailable'].touched"> 
      You must fill this field 
    </mat-error>
  </p>
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Transportation Method" formControlName="transportationMethod">
    </mat-form-field>
    <mat-error *ngIf="registerNewPackageForm.controls['transportationMethod'].errors?.required && registerNewPackageForm.controls['transportationMethod'].touched"> 
      You must fill this field 
    </mat-error>
  </p>

  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Image Url" formControlName="imageUrl">
    </mat-form-field>
  </p>
  
  <p class="button">
    <button type="submit" mat-button style="border: 1px solid blue;">Register</button>
  </p>
</form>
</mat-card-content>
</mat-card>
</div>
