<div fxLayout="row wrap" fxLayoutGap="20px " >
<mat-card style="width: 300px; background-size: cover; border: 1px solid blue;">
    <mat-card-title>Register Quide</mat-card-title>
<mat-card-content>
<form [formGroup]="registerQuideForm" (ngSubmit)="onSubmit()">
    <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </p>
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
  </p>
  
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="MobileNo" formControlName="mobileNo">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </p>
  
  <p class="button">
    <button type="submit" mat-button>Register</button>
  </p>
</form>
</mat-card-content>
</mat-card>
</div>