.image-dashboard{
    min-width: 1330px;
    justify-content: center;
  }
  
.img-top{
  margin-top: 4rem;
}
  .input1{
   border-style: hidden;
   border-radius: 5px;
  }
  
  .inquiry-container{
  
    border-radius: 5px;
    justify-content: center;
    height:40px;
  }
  .cardtitlefont{
    color:#140d33;
  }