<mat-toolbar color="primary">
    <mat-icon>airport_shuttle</mat-icon>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="primary" *ngIf="!currentUser" (click)="navigateToLogin()">login</button>
    <button mat-raised-button color="primary" *ngIf="!currentUser" (click)="navigateToSignUp()">signup</button>
    <button mat-raised-button color="primary" *ngIf="userType=='ADMIN'" (click)="navigateToRegisterTravelAgent()">Register Agent</button>
    <button mat-raised-button color="primary" *ngIf="userType=='TRAVELAGENT'" (click)="navigateToRegisterQuide()">Register Quide</button>

    <button mat-raised-button color="primary" *ngIf="currentUser" (click)="logout()">logout</button>
