.example-spacer {
    flex: 1 1 auto;
  }

  a {
    
  text-decoration: none;
  color: white;
  
  }
 div {
   
   margin-left: 30%;
 }

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
 /* Add a top margin to main content to avoid content overlay */
